{% extends "base.html" %}
{% block content %}
<h1> Events </h1>
<a href="{% url 'create-event-page' %}" title="event-create">Create an event</a>
  {% if events %}
    {% for event in events %}
    <div class='event-card'>
      <h1>{{event.name}}</h1>
      <h2>{{event.street_address}}</h2>
      <h3>{{event.city}}</h3>
      <a href="{% url 'event-details-page' event.slug %}" title="Read More">Read More</a>
      
    </div>
    {% endfor %}
  {% else %}
    <div>No pages to display.</div>
  {% endif %}
{% endblock %}