{% extends "base.html" %}

{% block styles%}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/styles.css' %}">
{% endblock %}
{% block content %}
<section class='features'>
    <ul>
      <li> 
        <div>
          <h2 class='feat-titles'>Join events happening around you</h2>
          <p class='feat-para'>With the largest on-demand network in the industry,
            you can explore your city, find its hidden hotspots,
            and watch as we bring your new favorites right to your
            door. Download the app for iOS or Android for free.</p>

            {% if user.is_authenticated %}
                <div class="text-white">Hello, <strong>{{user.username}}</strong>!</div>
                <a href="{% url 'event-list-page' %}" class="btn btn-danger ml-2">Click to see events or host one</a>
            {% endif %}
        
        </div> 
        <div>
        <!-- {% load static %} -->
          <img src="{% static 'home/images/events.jpg' %}" class='hero' alt="events" width='500' height='auto'>
          <!-- <img src='lalibela.jpg' alt='Events' width='500' height=auto> -->
        </div>  
      </li>
      <li> 
          <div>
            <h2 class='feat-titles'>Ask any questions</h2>
            <p class='feat-para'>With the largest on-demand network in the industry,
                you can explore your city, find its hidden hotspots,
                and watch as we bring your new favorites right to your
                door. Download the app for iOS or Android for free.</p>
            {% if user.is_authenticated %}
                <a href="{% url 'question-list-page' %}" class="btn btn-danger ml-2">Click to see questions and ask</a>
            {% endif %}
          </div>
          <div>
            <img src="{% static 'home/images/questions.jpg' %}" alt='QnA' width='500' height=auto>
          </div>  
        </li>

        <li> 
            <div>
              <h2 class='feat-titles'>Helpful immigration links</h2>
              <p class='feat-para'>With the largest on-demand network in the industry,
                you can explore your city, find its hidden hotspots,
                and watch as we bring your new favorites right to your
                door. Download the app for iOS or Android for free.</p>
            </div> 
            <div>
              <img src="{% static 'home/images/immigration.jpg' %}" alt='Links' width='500' height=auto>
            </div>  
        </li>   

        <li> 
            <div>
              <h2 class='feat-titles'>Quiz for citizenship questions</h2>
              <p class='feat-para'>With the largest on-demand network in the industry,
                you can explore your city, find its hidden hotspots,
                and watch as we bring your new favorites right to your
                door. Download the app for iOS or Android for free.</p>
              {% if user.is_authenticated %}
                  <a href="{% url 'quiz' %}" class="btn btn-danger ml-2">Click to see quiz</a>
              {% endif %}
            </div>
            <div>
              <img src="{% static 'home/images/quiz.jpg' %}" alt='QnA' width='500' height=auto>
            </div>  
          </li>
      </ul>
  </section>
  <footer>
      This is a footer
  </footer>
{% endblock %}
