{% extends "base.html" %}
{% block content %}
<section class='history'>
    <ul>
      <li> 
        <div>
          <h2>Join events happening around</h2>
            {% if user.is_authenticated %}
                <div class="text-white">Hello, <strong>{{user.username}}</strong>!</div>
                <a href="{% url 'event-list-page' %}" class="btn btn-danger ml-2">Click to see events or host one</a>
            {% endif %}
        
        </div> 
        <div>
        <!-- {% load static %} -->
          <img src="{% static 'home/images/events.jpg' %}" class='hero' alt="events" width='500' height='auto'>
          <!-- <img src='lalibela.jpg' alt='Events' width='500' height=auto> -->
        </div>  
      </li>
      <li> 
          <div>
            <h2>Ask any questions</h2>
            {% if user.is_authenticated %}
                <a href="{% url 'question-list-page' %}" class="btn btn-danger ml-2">Click to see questions and ask</a>
            {% endif %}
          <div>
            <img src="{% static 'home/images/questions.jpg' %}" alt='QnA' width='500' height=auto>
          </div>  
        </li>

        <li> 
            <div>
              <h2>Helpful immigration links</h2>
            </div> 
            <div>
              <img src="{% static 'home/images/immigration.jpg' %}" alt='Links' width='500' height=auto>
            </div>  
          </li>   
      </ul>
  </section>
{% endblock %}