
{% extends 'base.html' %}
{% block styles%}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/styles.css' %}">
{% endblock %}
    {% block content %}
        <div id='quiz' class='containerquiz'>
            <!-- quiz questions -->
        </div>

        <!-- Scripts -->
        <script>
            const questions = [
                {
                    q: "What ocean is on the East Coast of the United States?",
                    a: [
                        'Atlantic Ocean',
                        'Pacific Ocean',
                        'Indian Ocean'
                    ],
                    correct: 0
                },
                {
                    q: 'Who lived in America before the Europeans arrived?',
                    a: [
                        'American Indians',
                        'Canadians',
                        'no one'
                    ],
                    correct: 0
                },
                {
                    q: 'What is one reason colonists came to America?',
                    a: [
                        'freedom',
                        'to join a civic group',
                        'for the experience travelling across the ocean'
                    ],
                    correct: 0
                }
            ]

            function init() {
                const quizEl = document.getElementById('quiz')
                let quizStr = ''
        
                questions.forEach( function(question, qIndex){
                    let answerStr = ''
                    const answerOrder = randomRange(question.a.length)
                    question.a.forEach(function(answer, aIndex){
                        answerStr += `
                        <li style='order: ${answerOrder[aIndex]}'>
                            <label>
                                <input
                                    type='radio'
                                    name='question-${qIndex}'
                                    data-correct = '${question.correct === aIndex}'
                                >
                                ${answer} 
                            </label>
                        </li>
                        `
                    })

                    quizStr += `
                    <form class='formQuiz'>
                        <h1>${question.q}</h1>
                        <div class='alert'> - </div>
                        <ul style='display: flex; flex-direction: column;'>
                            ${answerStr}
                        </ul>
                        <button type='submit'>Submit</button>
                    </form>
                    `
                })
                quizEl.innerHTML = quizStr
                quizEl.addEventListener('submit',function(e){
                    e.preventDefault()
                    const alert = e.target.querySelector('div.alert')
                    const selectedInput = e.target.querySelector('input[type=radio]:checked')
                    if (selectedInput === null){
                        alert.innerHTML = 'Please select an answer'
                    }
                    else if (selectedInput.dataset.correct === 'true'){
                        alert.innerHTML = "That's correct!"
                    } else {
                        alert.innerHTML = 'Oops! try again!'
                    }
                })
                
            } //end init()

            init()

            function random(n){
                const num = Math.random()* n
                return Math.floor(num)
            }

            function randomRange(x) {
                const arr = []
                for (let i = 0; i < x; i += 1){
                    arr.push(i)
                }
                const randomArr = []
                while(arr.length > 0){
                    const randomIndex = random(arr.length)
                    const randomNumber = arr[randomIndex]
                    randomArr.push(randomNumber)
                    arr.splice(randomIndex, 1)
                }
                return randomArr

            }
            
        </script>
    {% endblock %}
