body{
    /* background-color: blue; */
    font-size: 16px;
    font-family: Helvetica;
    /* padding: 1em; */
    margin: 0;
    /* display: flex; */
}

li{
    list-style: none;
    margin-bottom: 1em;
    font-weight: 350;
    font-size: 1.25em;
}

ul{
    padding: 0;
    margin-bottom: 1em;
 }

.containerquiz{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size:1.5em;
}

.formQuiz{
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    max-width: 20em;
    border-bottom:0.5px solid black;
}

button{
    background-color: #008CBA;
    color: white;
    width: 150px;
    height: 30px;
    border-radius: 1em;
    margin-bottom: 1em;
    margin-left: 16em;
}

.features> ul > li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    /* border-bottom: solid black 1px; */
  }
  
  .features > ul > li:nth-child(2n){
    flex-direction: row-reverse;
  }
  
  .features > ul > li > div {
    margin: 2em ;
    width: 500px
  }
  
  .features li h2 {
    margin: 0;
  }

  .feat-titles{
    font-size: 1.75em;
  }

  .feat-para{
    color: grey;
    font-size: 0.8em;
    line-height: 2em;
  }
  
  footer{
      background-color: rgb(15, 15, 15);
      height: 500px;
      color: white;
  }