body{
    background-color: pink;
    font-size: 16px;
    font-family: Helvetica;
    margin: 0;
}
nav{
    display: flex;
    justify-content: flex-start;
    background-color: aqua;
    padding-bottom: 0.75em;
    padding-top: 0.75em;
}
nav a{
    margin-right: 1em;
    text-decoration: none;
}

.event-card{
    border: solid;
    margin-top: 2em;
}
