body{
    background-color: white;
    font-size: 16px;
    font-family: Helvetica;
    margin: 0;
}

nav{
    display: flex;
    justify-content: flex-start;
    padding-bottom: 0.75em;
    padding-top: 0.75em;
}

.nav-div{
    height: 20em;
    /* background-color: #FFF5D0; */
}

nav a{
    margin-right: 1em;
    text-decoration: none;
}

.event-card{
    /* border: solid; */
    margin-top: 2em;
    border: solid 1px;
    /* width: fit-content; */
    width: 35em;
    margin-left: 37em;
    padding-left: 3em;
    margin-bottom: 4em;
}

.main-header{
    font-size: 3em;
    padding-left: 14em;
}

.event-header{
    font-size: 5em;
    padding-left: 35%;
}

.link-create-event{
    text-decoration: none;
    padding: 0.75em;
    border: 1px solid;
    margin-left: 75%;
    background-color: purple;
    color: white;
    border-radius: 1em;
}

.EventForm{
    border: solid 1px;
    padding: 1em;
    margin-left: 30em;
    margin-right: 30em;
    margin-bottom: 10em;
    background-color: rgb(243, 201, 246);
}

.create-event{
    margin-left: 20em;
    margin-top: 5em;
}

.last-updated{
    color: grey;
}

.event-description{
    color: rgb(90, 88, 88);
    font-size: 1.5em;
}

.join-button{
    padding: 1em;
    border: 1px solid;
    margin-left: 4em;
    background-color: purple;
    color: white;
    margin-top: 6em;
}

.who-going{
    font-size: 2em;
}

.event-detail{
    margin-left: 6em;
    margin-bottom: 15em;
}

.back{
    /* margin-top: 3em; */
    text-decoration: none;
    border: solid;
    margin: 10em;
}

.event-name{
    font-size: 2em;
}