{% extends 'base.html' %}


{% block styles%}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'events/css/styles.css' %}">
{% endblock %}

{% block content %}
    <h1 class='create-event'>Write your questions here</h1>
    <form method="POST" class="QuestionForm">{% csrf_token %}
        <div class = 'form-page'>
            {{form.as_p}}
            <!-- <p>
                <label for="id_date_time">Event date time:</label>
                <input type="datetime-local" name="date_time" required="" id="id_date_time">
            </p> -->
        </div>
        <button type="submit" class="btn btn-success ml-4">Save</button>
    </form>
    <a href="{% url 'event-list-page' %}" title="event-create" class='link-create-event'> Back to list of events</a>
{% endblock %}