.login-page{
    margin-left: 40%;
    border: solid 1px;
    width: fit-content;
    padding: 4em;
    border-color: rgb(243, 201, 246);
    background-color: rgb(243, 201, 246);
    margin-top: 3em;
    border-radius: 2em;
    margin-bottom: 15em;
}

.signup-page{
    margin-left: 40%;
    border: solid 1px;
    width: fit-content;
    padding: 4em;
    border-color: rgb(243, 201, 246);
    background-color: rgb(243, 201, 246);
    margin-top: 3em;
    border-radius: 2em;
    margin-bottom: 15em;
}

.signup-button{
    padding: 1em;
    margin-left: 40%;
    margin-top: 1em;
    border-radius: 1em;
    font-size: 1em;
}

.login-title{
    font-size: 1.75em;
    padding-left: 2.5em;
}

.signup-title{
    font-size: 1.75em;
    padding-left: 4em;
}

.col-8{
    font-size: 1.5em;
}

input:focus {
    outline: none;
}

input{
    border-radius: 6px;
    padding: 0.25em;
    font-size: 1em;
    margin-top: 0.4em;
    width: 3em;
    border: none;
    padding-right: 3em;
}